header {
  position: relative;
  padding: 3rem;
  background-color: black;
  color: white;
  overflow: hidden !important;

  h1 {
  }

  nav {
    ul {
      li {
        a {
        }
      }
    }
  }
}
